@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}

html, body {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, h7, p, a {
    letter-spacing: -0.04em;
    transform: rotate(-0.03deg);
    font-family: 'notokr-regular', 'Noto Sans', 'Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'sans-serif';
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --main-color: red;
}


/*==================================================*/


