footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 30px 20px;
}

.footer-wrapper {
    display: flex;
}

.footer-wrapper p {
    color: #ccc;
    font-size: 14px;
    font-family: 'notokr-light';
    letter-spacing: 0 !important;
}
