.personal-wrapper {
    width: 100%;
}

.personal-title p {
    color: #3d3d3d;
    font-size: 20px;
    font-family: 'notokr-bold';
    margin-bottom: 5px;
}

.personal {
    padding: 20px 30px;
    border: 1px solid #ddd;
}

.personal p {
    color: #777;
    font-size: 16px;
    line-height: 1.7rem;
}


/*==========================================================*/
.form-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    transition: all .3s;
    margin-top: .5rem;
}

.form-wrapper .inputbox {
    width: 100%;
    height: 55px;
    padding: 10px 19px;
    margin: .5rem 0;
    font-size: 15px;
    font-family: 'notokr-regular';
    outline: none;
    border: 1px solid #ddd;
    transition: all .3s;
}

.form-wrapper .selectbox {
    width: 100%;
    height: 55px;
    padding: 10px 15px;
    margin: .5rem 0;
    font-size: 15px;
    font-family: 'notokr-regular';
    outline: none;
    border: 1px solid #ddd;
    transition: all .3s;
}

.form-wrapper .textbox {
    width: 100%;
    height: 200px;
    padding: 10px 19px;
    margin: .5rem 0 1rem 0;
    font-size: 15px;
    font-family: 'notokr-regular';
    line-height: 25px;
    outline: none;
    border: 1px solid #ddd;
    transition: all .3s;
}

.form-wrapper .inputbox:focus {
    border: 1px solid #eeb9b9;
    background-color: #fffdfd;
}

.form-wrapper .selectbox:focus {
    border: 1px solid #eeb9b9;
    background-color: #fffdfd;
}

.form-wrapper .textbox:focus {
    border: 1px solid #eeb9b9;
    background-color: #fffdfd;
}

.button-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::placeholder {
    color: #bbb;
}

textarea::placeholder {
    color: #bbb;
}

/*==========================================================*/
.check {
    display: flex;
    align-items: baseline;
    position: relative;
}

.personal-label {
    display: block !important;
}

.personal-label p {
    color:#555;
    font-size: 15px;
    font-family: 'notokr-regular';
    padding-left: 4px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.personal-label p span {
    color:red;
    font-family: 'notokr-regular';
}

.check-notice {
    position: absolute;
    bottom: -50px; left: 0;
    width: 300px;
    height: 40px;
    background-color: #ffee90;
    border-radius: 10px;
    transition: all .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    z-index: 999;
}

.check-notice::after {
    position: absolute;
    top: -5px; left: 30px;
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    background-color: #ffee90;
    transform: rotate(45deg);
}

.check-notice p {
    color: #444;
    font-size: 14px;
    font-family: 'notokr-regular';
    letter-spacing: -0.0625em;
    text-align: center;
    line-height: 40px;
}

.check-notice p a {
    color: royalblue;
    font-family: 'notokr-bold';
}

#cb:checked ~ .check-notice {
    opacity: 0;
    visibility: hidden;
}


/*==========================================================*/
select {
    color: #bbb;
    width: 100%;
    height: 55px;
    margin: .5rem 0;
    font-size: 15px;
    font-family: 'notokr-regular';
    outline: none;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: all .3s;
    cursor: pointer;
}

select:valid {
    color: #222;
}

select option {
    color: #444;
    font-size: 15px;
    background-color: #fff;
    box-shadow: none;
}


/*==========================================================*/
.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.submitBtn {
    color: #fff;
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-family: 'notokr-medium';
    background-color: var(--main-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

.submitBtn:disabled {
    cursor: not-allowed;
    background-color: #aaa;
}



/*=============================================================*/
@media (max-width: 900px) {
    .form-wrapper {
        width: 100%;
    }

    .form-wrapper .inputbox {
        border: 1px solid #bbb;
        border-radius: 8px;
    }

    .form-wrapper .selectbox {
        border: 1px solid #bbb;
        border-radius: 8px;
    }

    .form-wrapper .textbox {
        border: 1px solid #bbb;
        border-radius: 8px;
    }
}


@media (max-width: 500px) {
    input::placeholder {
        color: #888;
    }
    
    textarea::placeholder {
        color: #888;
    }

    select {
        color: #888;
    }

    .button-wrapper {
        display: block;
    }

    .submitBtn {
        width: 200px;
        margin-top: 1rem;
    }
}


@media (max-width: 375px) {
    .submitBtn {
        margin-top: 1rem;
    }
}
