header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    z-index: 999;
}

.Fixed {
    position: fixed;
    top: 0;
    height: 75px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.Fixed2 {
    color: #3d3d3d;
}

.active {
    display: none;
}

.actives {
    color: var(--main-color);
}

.logo, .logo-w {
    padding-top: 4px;
}

nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 3rem;
}

nav ul li a {
    color: #fff;
    font-family: 'notokr-medium';
}

nav ul li a:hover {
    color: var(--main-color);
}

#check {
    display: none;
}

.menuBtns {
    display: none;
}


/*==================================================*/
@media (max-width: 1240px) {
    nav {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 850px) {
    header {
        height: 75px;
    }

    .Fixed {
        position: absolute;
        top: 0; left: 0;
        box-shadow: none;
        background-color: transparent;
    }

    .Fixed2 {
        color: #fff;
    }

    .active {
        display: flex;
    }

    .logo {
        display: none;
    }

    nav label {
        z-index: 8;
    }

    .menuBtns {
        padding: 2px;
        display: inline-block;
        cursor: pointer;
    }

    nav ul {
        position: absolute;
        top: 0; left: -100%;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .8);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        touch-action: none;
        transition: all .2s;
        z-index: 7;
        gap: 1rem;
    }

    nav ul li a {
        color: #fff;
        font-size: 18px;
        text-align: center;
    }

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 1px;
        background-color: #fff;
        margin: 8px 0;
        transition: .3s ease;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-8px, 5px);
        transform: rotate(-45deg) translate(-8px, 4px);
        background-color: #fff;
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -6px);
        transform: rotate(45deg) translate(-8px, -5px);
        background-color: #fff;
      }
    
    #check:checked ~ ul {left: 0;}
}
