.promotion {
    width: 100%;
    height: 100vh !important;
    background: url(../images/hero.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-wrapper {
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.p-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-text h1 {
    color: #fff;
    font-size: 65px;
    font-family: 'notokr-bold';
    text-align: center;
    margin-bottom: 3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.pBtn {
    outline: none;
    border: none;
    width: 270px;
    height: 55px;
    color: #fff;
    font-size: 18px;
    font-family: 'notokr-medium';
    background-color: var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 100px;
    cursor: pointer;
}



/*==================================================*/
@media (max-width: 1200px) {
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }

}


@media (max-width: 710px) {
    .pBtn {
        width: 250px;
        height: 55px;
        font-size: 18px;
    }
}
